.form_labels{
  float:left;
  width:40%;
  font-family:"ClearSans";
  font-weight:300;
  font-size: 14px;
  margin:23px 30px 0px 25px;
}
.form_inputs{
  float:left;
  width:30%;
}
.mdl-textfield{
  display:inherit;
}
.mdl-textfield__input1{
    border: none;
    border: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 18px 0px 16px 0px;
    padding: 4px 0;
    width: 600px;
    background: 0 0;
    text-align: left;
    color: inherit;
    height:30px;
    border-radius:4px;
}