<div class="register-page">
<div class="form">
  
    <form class="login-form" name="form" (ngSubmit)="signup()" #f="ngForm" novalidate>
        <div >
            <!-- <label for="name">Name</label> -->
            <input type="text" name="name" placeholder="Name" [(ngModel)]="user.name" #name="ngModel" required />
           
        </div> 
      
       <div>
          <!--   <label for="email">Email</label> -->
            <input type="text" name="email" placeholder="Email address" [(ngModel)]="user.email" #email="ngModel" required />
        </div>

        <div>
           <!--  <label for="password">Password</label> -->
            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required />
        </div>

        <div>
          <!--   <label for="password2">Confirm Password</label> -->
            <input type="password" placeholder="Confirm Password" name="password2" />
        </div>



         <div>
          <!--   <label for="phone">Phone</label> -->
            <input type="text" name="phone" placeholder="Phone Number" [(ngModel)]="user.phone" #phone="ngModel" required />
            
        </div>
         <div>
            <!-- <label for="designation">Designation</label> -->
            <input type="text" name="designation" placeholder="Designation" [(ngModel)]="user.designation" #designation="ngModel" required />   
        </div>

         <div>
            <!-- <label for="organisation">Organisation</label> -->
            <input type="text" name="organisation" placeholder="Organisation" [(ngModel)]="user.organisation" #organisation="ngModel" required />  
        </div>
        
        <div>
            <button type="submit">Register</button>
             <p class="message">Already registered? <a href="/login">Login Now</a></p>
        </div>
    
    </form>
</div>
</div>