<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="signup()" #f="ngForm" novalidate>
        <div class="form-group" >
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required />
           
        </div> 
      
       <div class="form-group" >
            <label for="email">email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />

        </div>
       
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            
        </div>

         <div class="form-group" >
            <label for="phone">Phone</label>
            <input type="number" class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required />
            
        </div>
         <div class="form-group" >
            <label for="designation">designation</label>
            <input type="text" class="form-control" name="designation" [(ngModel)]="user.designation" #designation="ngModel" required />
            
        </div>
         <div class="form-group">
            <label for="organisation">organisation</label>
            <input type="text" class="form-control" name="organisation" [(ngModel)]="user.organisation" #organisation="ngModel" required />
           
        </div>
        
        <div class="form-group">
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register</button>
            
        </div>
    
    </form>
</div>